:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  /* background-image: url('./components/images/HomeBackground.jpg'); */
  background-image: url('images/mello-background.jpg');
  background-size: 100% 100%;
  width: 100%;
  color: white;
}

h1,
h2 {
  color: white;
  font-size: 200%;
}

p,
div {
  color: white;
}

div .navbar {
  color: white;
  background-color: yellow;
  border-bottom: 2px solid black;
  /* font-family: 'Cedarville Cursive', cursive; */
  font-size: 1rem;
  /* height: 20px; */
  /* padding: 30px; */
}

@media (max-width: 300px) {
  div .navbar {
    display: flex;
    justify-content: center;
  }

  .title span {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    margin-left: 10rem;
  }
}

.top-nav-transparent {
  opacity: 0.5;
}

.navbar-link {
  height: 30px;
  border-radius: 5px;
}

.navbar-item {
  background-color: white;
  /* height: 40px; */
}

.login-main {
  float: right;
  height: 40px;
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}

@media (max-width: 1023px) {
  .login-main {
    display: none;
  }
}

@media (min-width: 1023px) {
  .login {
    display: none;
  }
}

.title {
  display: flex;
  justify-content: center;
  /* margin-right: 20rem; */
}

@media (max-width: 1023px) {
  .title {
    display: flex;
    align-items: flex-start;
    margin-right: 15rem;
  }
}

.boards {
  display: flex;
  flex-flow: row wrap;
}

.placeholder {
  background-color: #999;
  margin-top: 20px;
  margin-left: 20px;
  width: 170px;
  height: 100px;
}

.createboard {
  background-color: #abc93d;
}

/* .home-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
  margin-left: 15rem;
} */

.shown-boards {
  margin-top: 10rem;
  font-size: 18pt;
}
